/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-b-mail-name: 'sprite-ico-b-mail';
$sprite-ico-b-mail-x: 0px;
$sprite-ico-b-mail-y: 0px;
$sprite-ico-b-mail-offset-x: 0px;
$sprite-ico-b-mail-offset-y: 0px;
$sprite-ico-b-mail-width: 80px;
$sprite-ico-b-mail-height: 80px;
$sprite-ico-b-mail-total-width: 160px;
$sprite-ico-b-mail-total-height: 160px;
$sprite-ico-b-mail-image: '../img/sprite.png';
$sprite-ico-b-mail: (0px, 0px, 0px, 0px, 80px, 80px, 160px, 160px, '../img/sprite.png', 'sprite-ico-b-mail', );
$sprite-ico-b-map-name: 'sprite-ico-b-map';
$sprite-ico-b-map-x: 80px;
$sprite-ico-b-map-y: 0px;
$sprite-ico-b-map-offset-x: -80px;
$sprite-ico-b-map-offset-y: 0px;
$sprite-ico-b-map-width: 80px;
$sprite-ico-b-map-height: 80px;
$sprite-ico-b-map-total-width: 160px;
$sprite-ico-b-map-total-height: 160px;
$sprite-ico-b-map-image: '../img/sprite.png';
$sprite-ico-b-map: (80px, 0px, -80px, 0px, 80px, 80px, 160px, 160px, '../img/sprite.png', 'sprite-ico-b-map', );
$sprite-ico-b-phone-name: 'sprite-ico-b-phone';
$sprite-ico-b-phone-x: 0px;
$sprite-ico-b-phone-y: 80px;
$sprite-ico-b-phone-offset-x: 0px;
$sprite-ico-b-phone-offset-y: -80px;
$sprite-ico-b-phone-width: 80px;
$sprite-ico-b-phone-height: 80px;
$sprite-ico-b-phone-total-width: 160px;
$sprite-ico-b-phone-total-height: 160px;
$sprite-ico-b-phone-image: '../img/sprite.png';
$sprite-ico-b-phone: (0px, 80px, 0px, -80px, 80px, 80px, 160px, 160px, '../img/sprite.png', 'sprite-ico-b-phone', );
$sprite-ico-mail-name: 'sprite-ico-mail';
$sprite-ico-mail-x: 112px;
$sprite-ico-mail-y: 80px;
$sprite-ico-mail-offset-x: -112px;
$sprite-ico-mail-offset-y: -80px;
$sprite-ico-mail-width: 15px;
$sprite-ico-mail-height: 16px;
$sprite-ico-mail-total-width: 160px;
$sprite-ico-mail-total-height: 160px;
$sprite-ico-mail-image: '../img/sprite.png';
$sprite-ico-mail: (112px, 80px, -112px, -80px, 15px, 16px, 160px, 160px, '../img/sprite.png', 'sprite-ico-mail', );
$sprite-ico-phone-name: 'sprite-ico-phone';
$sprite-ico-phone-x: 80px;
$sprite-ico-phone-y: 80px;
$sprite-ico-phone-offset-x: -80px;
$sprite-ico-phone-offset-y: -80px;
$sprite-ico-phone-width: 16px;
$sprite-ico-phone-height: 16px;
$sprite-ico-phone-total-width: 160px;
$sprite-ico-phone-total-height: 160px;
$sprite-ico-phone-image: '../img/sprite.png';
$sprite-ico-phone: (80px, 80px, -80px, -80px, 16px, 16px, 160px, 160px, '../img/sprite.png', 'sprite-ico-phone', );
$sprite-ico-quote-name: 'sprite-ico-quote';
$sprite-ico-quote-x: 127px;
$sprite-ico-quote-y: 80px;
$sprite-ico-quote-offset-x: -127px;
$sprite-ico-quote-offset-y: -80px;
$sprite-ico-quote-width: 18px;
$sprite-ico-quote-height: 13px;
$sprite-ico-quote-total-width: 160px;
$sprite-ico-quote-total-height: 160px;
$sprite-ico-quote-image: '../img/sprite.png';
$sprite-ico-quote: (127px, 80px, -127px, -80px, 18px, 13px, 160px, 160px, '../img/sprite.png', 'sprite-ico-quote', );
$sprite-ico-square-name: 'sprite-ico-square';
$sprite-ico-square-x: 96px;
$sprite-ico-square-y: 80px;
$sprite-ico-square-offset-x: -96px;
$sprite-ico-square-offset-y: -80px;
$sprite-ico-square-width: 16px;
$sprite-ico-square-height: 16px;
$sprite-ico-square-total-width: 160px;
$sprite-ico-square-total-height: 160px;
$sprite-ico-square-image: '../img/sprite.png';
$sprite-ico-square: (96px, 80px, -96px, -80px, 16px, 16px, 160px, 160px, '../img/sprite.png', 'sprite-ico-square', );
$spritesheet-width: 160px;
$spritesheet-height: 160px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-ico-b-mail, $sprite-ico-b-map, $sprite-ico-b-phone, $sprite-ico-mail, $sprite-ico-phone, $sprite-ico-quote, $sprite-ico-square, );
$spritesheet: (160px, 160px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
