/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-dash-name: 'sprite-dash';
$sprite-dash-x: 180px;
$sprite-dash-y: 150px;
$sprite-dash-offset-x: -180px;
$sprite-dash-offset-y: -150px;
$sprite-dash-width: 5px;
$sprite-dash-height: 2px;
$sprite-dash-total-width: 210px;
$sprite-dash-total-height: 160px;
$sprite-dash-image: '../img/sprite.png';
$sprite-dash: (180px, 150px, -180px, -150px, 5px, 2px, 210px, 160px, '../img/sprite.png', 'sprite-dash', );
$sprite-ico-acum-name: 'sprite-ico-acum';
$sprite-ico-acum-x: 80px;
$sprite-ico-acum-y: 80px;
$sprite-ico-acum-offset-x: -80px;
$sprite-ico-acum-offset-y: -80px;
$sprite-ico-acum-width: 50px;
$sprite-ico-acum-height: 50px;
$sprite-ico-acum-total-width: 210px;
$sprite-ico-acum-total-height: 160px;
$sprite-ico-acum-image: '../img/sprite.png';
$sprite-ico-acum: (80px, 80px, -80px, -80px, 50px, 50px, 210px, 160px, '../img/sprite.png', 'sprite-ico-acum', );
$sprite-ico-b-mail-name: 'sprite-ico-b-mail';
$sprite-ico-b-mail-x: 0px;
$sprite-ico-b-mail-y: 80px;
$sprite-ico-b-mail-offset-x: 0px;
$sprite-ico-b-mail-offset-y: -80px;
$sprite-ico-b-mail-width: 80px;
$sprite-ico-b-mail-height: 80px;
$sprite-ico-b-mail-total-width: 210px;
$sprite-ico-b-mail-total-height: 160px;
$sprite-ico-b-mail-image: '../img/sprite.png';
$sprite-ico-b-mail: (0px, 80px, 0px, -80px, 80px, 80px, 210px, 160px, '../img/sprite.png', 'sprite-ico-b-mail', );
$sprite-ico-b-map-name: 'sprite-ico-b-map';
$sprite-ico-b-map-x: 0px;
$sprite-ico-b-map-y: 0px;
$sprite-ico-b-map-offset-x: 0px;
$sprite-ico-b-map-offset-y: 0px;
$sprite-ico-b-map-width: 80px;
$sprite-ico-b-map-height: 80px;
$sprite-ico-b-map-total-width: 210px;
$sprite-ico-b-map-total-height: 160px;
$sprite-ico-b-map-image: '../img/sprite.png';
$sprite-ico-b-map: (0px, 0px, 0px, 0px, 80px, 80px, 210px, 160px, '../img/sprite.png', 'sprite-ico-b-map', );
$sprite-ico-b-phone-name: 'sprite-ico-b-phone';
$sprite-ico-b-phone-x: 80px;
$sprite-ico-b-phone-y: 0px;
$sprite-ico-b-phone-offset-x: -80px;
$sprite-ico-b-phone-offset-y: 0px;
$sprite-ico-b-phone-width: 80px;
$sprite-ico-b-phone-height: 80px;
$sprite-ico-b-phone-total-width: 210px;
$sprite-ico-b-phone-total-height: 160px;
$sprite-ico-b-phone-image: '../img/sprite.png';
$sprite-ico-b-phone: (80px, 0px, -80px, 0px, 80px, 80px, 210px, 160px, '../img/sprite.png', 'sprite-ico-b-phone', );
$sprite-ico-batter-name: 'sprite-ico-batter';
$sprite-ico-batter-x: 160px;
$sprite-ico-batter-y: 0px;
$sprite-ico-batter-offset-x: -160px;
$sprite-ico-batter-offset-y: 0px;
$sprite-ico-batter-width: 50px;
$sprite-ico-batter-height: 50px;
$sprite-ico-batter-total-width: 210px;
$sprite-ico-batter-total-height: 160px;
$sprite-ico-batter-image: '../img/sprite.png';
$sprite-ico-batter: (160px, 0px, -160px, 0px, 50px, 50px, 210px, 160px, '../img/sprite.png', 'sprite-ico-batter', );
$sprite-ico-gener-name: 'sprite-ico-gener';
$sprite-ico-gener-x: 160px;
$sprite-ico-gener-y: 50px;
$sprite-ico-gener-offset-x: -160px;
$sprite-ico-gener-offset-y: -50px;
$sprite-ico-gener-width: 50px;
$sprite-ico-gener-height: 50px;
$sprite-ico-gener-total-width: 210px;
$sprite-ico-gener-total-height: 160px;
$sprite-ico-gener-image: '../img/sprite.png';
$sprite-ico-gener: (160px, 50px, -160px, -50px, 50px, 50px, 210px, 160px, '../img/sprite.png', 'sprite-ico-gener', );
$sprite-ico-mail-name: 'sprite-ico-mail';
$sprite-ico-mail-x: 130px;
$sprite-ico-mail-y: 112px;
$sprite-ico-mail-offset-x: -130px;
$sprite-ico-mail-offset-y: -112px;
$sprite-ico-mail-width: 15px;
$sprite-ico-mail-height: 16px;
$sprite-ico-mail-total-width: 210px;
$sprite-ico-mail-total-height: 160px;
$sprite-ico-mail-image: '../img/sprite.png';
$sprite-ico-mail: (130px, 112px, -130px, -112px, 15px, 16px, 210px, 160px, '../img/sprite.png', 'sprite-ico-mail', );
$sprite-ico-note-name: 'sprite-ico-note';
$sprite-ico-note-x: 160px;
$sprite-ico-note-y: 100px;
$sprite-ico-note-offset-x: -160px;
$sprite-ico-note-offset-y: -100px;
$sprite-ico-note-width: 50px;
$sprite-ico-note-height: 50px;
$sprite-ico-note-total-width: 210px;
$sprite-ico-note-total-height: 160px;
$sprite-ico-note-image: '../img/sprite.png';
$sprite-ico-note: (160px, 100px, -160px, -100px, 50px, 50px, 210px, 160px, '../img/sprite.png', 'sprite-ico-note', );
$sprite-ico-phone-name: 'sprite-ico-phone';
$sprite-ico-phone-x: 130px;
$sprite-ico-phone-y: 80px;
$sprite-ico-phone-offset-x: -130px;
$sprite-ico-phone-offset-y: -80px;
$sprite-ico-phone-width: 16px;
$sprite-ico-phone-height: 16px;
$sprite-ico-phone-total-width: 210px;
$sprite-ico-phone-total-height: 160px;
$sprite-ico-phone-image: '../img/sprite.png';
$sprite-ico-phone: (130px, 80px, -130px, -80px, 16px, 16px, 210px, 160px, '../img/sprite.png', 'sprite-ico-phone', );
$sprite-ico-quote-name: 'sprite-ico-quote';
$sprite-ico-quote-x: 80px;
$sprite-ico-quote-y: 130px;
$sprite-ico-quote-offset-x: -80px;
$sprite-ico-quote-offset-y: -130px;
$sprite-ico-quote-width: 18px;
$sprite-ico-quote-height: 13px;
$sprite-ico-quote-total-width: 210px;
$sprite-ico-quote-total-height: 160px;
$sprite-ico-quote-image: '../img/sprite.png';
$sprite-ico-quote: (80px, 130px, -80px, -130px, 18px, 13px, 210px, 160px, '../img/sprite.png', 'sprite-ico-quote', );
$sprite-ico-square-name: 'sprite-ico-square';
$sprite-ico-square-x: 130px;
$sprite-ico-square-y: 96px;
$sprite-ico-square-offset-x: -130px;
$sprite-ico-square-offset-y: -96px;
$sprite-ico-square-width: 16px;
$sprite-ico-square-height: 16px;
$sprite-ico-square-total-width: 210px;
$sprite-ico-square-total-height: 160px;
$sprite-ico-square-image: '../img/sprite.png';
$sprite-ico-square: (130px, 96px, -130px, -96px, 16px, 16px, 210px, 160px, '../img/sprite.png', 'sprite-ico-square', );
$sprite-widget-before-name: 'sprite-widget-before';
$sprite-widget-before-x: 160px;
$sprite-widget-before-y: 150px;
$sprite-widget-before-offset-x: -160px;
$sprite-widget-before-offset-y: -150px;
$sprite-widget-before-width: 20px;
$sprite-widget-before-height: 2px;
$sprite-widget-before-total-width: 210px;
$sprite-widget-before-total-height: 160px;
$sprite-widget-before-image: '../img/sprite.png';
$sprite-widget-before: (160px, 150px, -160px, -150px, 20px, 2px, 210px, 160px, '../img/sprite.png', 'sprite-widget-before', );
$spritesheet-width: 210px;
$spritesheet-height: 160px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-dash, $sprite-ico-acum, $sprite-ico-b-mail, $sprite-ico-b-map, $sprite-ico-b-phone, $sprite-ico-batter, $sprite-ico-gener, $sprite-ico-mail, $sprite-ico-note, $sprite-ico-phone, $sprite-ico-quote, $sprite-ico-square, $sprite-widget-before, );
$spritesheet: (210px, 160px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
