@import 'import/reset';
@import 'font_opensans';
@import 'import/variables';
@import 'bootstrap/bootstrap';
@import 'bootstrap/bootstrap-theme';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'sprite';
@import 'font_fontawesome';


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}
.title4 {
  font-family: $foslr;
  font-size: 40px;

  width: 100%;

  text-align: center;
}

.header-top {
  height: 50px;
  padding: 15px 0 0;
}
.header-top-nav {
  ul {
    margin: 0;
    padding: 0;

    @extend .clearfix;
    li {
      font-size: 13px;

      display: inline-block;
      float: left;

      margin: 0 30px 0 0;
      padding: 0;
      a {
        color: $gray;
        &:hover {
          text-decoration: underline;

          color: $red;
        }
      }
    }
  }
}
.header-top-contact {
  .phone,
  .mail {
    position: relative;

    display: inline-block;
    float: right;

    margin: 0 0 0 20px;
    padding: 0 0 0 20px;

    color: #707070;
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      @extend .dblock;
    }
    &:hover {
      text-decoration: none;

      border-bottom: 1px dotted $red;
    }
  }
  .phone {
    font-family: $fosb;
    font-size: 14px;

    top: -5px;
    span {
      font-size: 18px;
    }
    &:before {
      top: 5px;

      @include sprite($sprite-ico-phone);
    }
  }
  .mail {
    &:before {
      @include sprite($sprite-ico-mail);
    }
  }
}

header {
  position: relative;

  height: 700px;

  background-color: $light-gray;
  .header-slider-container {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:after {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      left: 0;

      height: 249px;
background-color: red;
      background-image: url(../img/bg/header-png.png);
      background-repeat: no-repeat;
      background-position: center bottom;

      @extend .dblock;
    }
  }
  .logo {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;

    display: block;

    width: 173px;
    height: 60px;
    img {
      max-width: 100%;
    }
  }
}
.nav {
  position: absolute;
  z-index: 1;
  top: 45px;
  right: 0;
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
      a {
        font-family: $fosb;
        font-size: 14px;

        padding-bottom: 45px;

        color: #fff;
        border-bottom: 2px solid transparent;
      }
      &:hover {
        a {
          text-decoration: none;

          border-bottom: 2px solid $red;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

.container-descr {
  padding: 0 200px;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  color: #fff;
  background-color: $blue;
  .inner {
    height: $footer;
    padding-top: 70px;
  }
  h5 {
    font-family: $fosb;
    font-size: 14px;
    line-height: 1;

    position: relative;

    margin-bottom: 70px;

    text-align: center;
    &:before,
    &:after {
      position: absolute;
      bottom: -15px;

      height: 2px;

      @extend .dblock;
    }
    &:before {
      left: 23.96%;

      width: 52.08%;

      background-color: $dark-gray;
    }
    &:after {
      left: 44.79%;

      width: 10.42%;

      background-color: $red;
    }
  }
  .contact-phone,
  .contact-adress,
  .contact-mail {
    position: relative;

    height: 170px;
    padding-top: 105px;

    text-align: center;
    &:before {
      position: absolute;
      top: 0;
      left: 38%;

      @extend .dblock;
    }
    h6 {
      font-family: $fossb;
      font-size: 16px;
    }
    a,
    p {
      text-decoration: none;

      color: $light-gray;
    }
    a {
      &:hover {
        border-bottom: 1px dotted $red;
      }
    }
  }
  .contact-phone {
    &:before {
      @include sprite($sprite-ico-b-phone);
    }
  }
  .contact-adress {
    &:before {
      @include sprite($sprite-ico-b-map);
    }
  }
  .contact-mail {
    &:before {
      @include sprite($sprite-ico-b-mail);
    }
  }
  .copy {
    font-size: 11px;

    padding-top: 50px;

    text-align: center;
    text-align: center;

    color: $dark-gray;
  }
}

@import 'import/print';
