@import 'import/reset';
@import 'font_opensans';
@import 'import/variables';
@import 'bootstrap/bootstrap';
@import 'bootstrap/bootstrap-theme';
@import 'import/buttons';
@import 'base64';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'sprite';
@import 'font_fontawesome';


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  &.home {
    header {
      height: 700px;
      margin-bottom: 0;
    }
    .header-slider-container {
      display: block;
    }
  }
  &.archive,
  &.category {
    header {
      background-image: url(../img/bg/page-blog.jpg);
    }
  }
  &.page-template-page-cat {
    header {
      background-image: url(../img/bg/category-listing.jpg);
    }
  }
  &.page-template-page-contacts {
    header {
      background-image: url(../img/bg/page-contacts.jpg);
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border-color;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.btn {
  font-family: $fosb;

  width: 100%;
  margin: 0 0 5px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
}
.btn-red {
  background-color: $red;
  &:hover {
    text-decoration: none;

    background-color: #c74639;
  }
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}
.title4 {
  font-size: 40px;

  margin-bottom: 30px;
}
.title3 {
  font-size: 30px;

  margin-bottom: 40px;
}
.title4,
.title3 {
  font-family: $foslr;

  width: 100%;
  padding-bottom: 50px;

  text-align: center;

  color: $gray;

  @extend .red-line-with-half;
  a {
    text-decoration: none;

    color: $gray;
  }
}
.grayscale {
  filter: grayscale(100%);
}

.header-top {
  height: 50px;
  padding: 15px 0 0;
}
.header-top-nav {
  ul {
    margin: 0;
    padding: 0;

    @extend .clearfix;
    li {
      font-size: 13px;

      display: inline-block;
      float: left;

      margin: 0 30px 0 0;
      padding: 0;
      a {
        color: $gray;
        &:hover {
          text-decoration: underline;

          color: $red;
        }
      }
    }
  }
}
.header-top-contact {
  .phone,
  .mail {
    position: relative;

    display: inline-block;
    float: right;

    margin: 0 0 0 20px;
    padding: 0 0 0 20px;

    color: #707070;
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      @extend .dblock;
    }
    &:hover {
      text-decoration: none;

      border-bottom: 1px dotted $red;
    }
  }
  .phone {
    font-family: $fosb;
    font-size: 14px;

    top: -5px;
    span {
      font-size: 18px;
    }
    &:before {
      top: 5px;

      @include sprite($sprite-ico-phone);
    }
  }
  .mail {
    &:before {
      @include sprite($sprite-ico-mail);
    }
  }
}
.header-slider-container {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  .rsGCaption {
    display: none;
  }
  &:after {
    position: absolute;
    z-index: 35;
    right: 0;
    bottom: 0;
    left: 0;

    height: 249px;

    background-image: url(../img/bg/header-png.png);
    background-repeat: no-repeat;
    background-position: center bottom;

    @extend .dblock;
  }
}
.active-revslide {
  h4,
  h5 {
    color: #fff;
    line-height: 2.5;
    font-family: $foslr;
  }
  h4 {
    font-size: 40px !important;


    margin-bottom: 40px;
  }
  h5 {
    font-size: 18px !important;


    margin-bottom: 45px;
  }
  .btn {
    display: inline-block;

    margin: 0 25px 0 0;
  }
}


header {
  position: relative;

  height: 450px;
  margin-bottom: 60px;

  background-repeat: no-repeat;
  background-position: center top;
  &:before,
  &:after {
    position: absolute;
    right: 0;
    left: 0;

    @extend .dblock;
  }
  &:before {
    z-index: 5;
    top: 99px;

    height: 1px;

    background-color: $base-border-color;
  }
  &:after {
    bottom: 0;

    height: 75px;

    @extend .header-after;
  }
  .logo {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;

    display: block;

    width: 173px;
    height: 60px;
    img {
      max-width: 100%;
    }
  }
}
.nav {
  position: absolute;
  z-index: 54;
  top: 45px;
  right: 0;

  height: 50px;
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      position: relative;

      display: inline-block;

      height: 50px;
      a {
        font-family: $fosb;
        font-size: 14px;

        padding: 0 10px 30px;

        color: #fff;
        border-bottom: 2px solid transparent;
      }
      .sub-menu {
        position: absolute;
        z-index: 55;
        top: 49px;
        left: 0;

        display: none;

        padding: 6px 0 0;
        li {
          display: block;

          background-color: #fff;
          a {
            display: block;

            padding: 10px;

            text-align: left;
            white-space: nowrap;
            text-decoration: none;

            color: $gray;
            border: 0;
          }
          &:hover {
            a {
              text-decoration: underline;

              color: $red;
            }
          }
        }
      }
      &:hover {
        a {
          text-decoration: none;

          border-bottom: 2px solid $red;
        }
        .sub-menu {
          display: block;
        }
      }
      &.current-menu-item {
        a {
          text-decoration: none;

          border-bottom: 2px solid $red;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
  .phone {
    text-decoration: none;
  }
}
.looper {
  margin: 0 0 30px;

  @extend .clearfix;
  .feature-img {
    position: relative;

    float: left;
    overflow: hidden;

    width: 240px;
    height: 180px;
    margin: 0 30px 0 0;

    border: 1px solid $base-border-color;
    img {
      width: 100%;

      @extend .align-center;
    }
  }
  h2 {
    font-family: $foslr;
    font-size: 20px;

    margin: 0 0 25px;
    a {
      color: $red;
    }
  }
  .date {
    font-family: $fosi;

    display: block;

    margin: 0 0 25px;
  }
  .view-article {
    display: none;
  }
  &:hover {
    .feature-img {
      border-color: #000;
    }
  }
}

.container-descr {
  margin-bottom: 55px;
  padding: 0 200px;

  text-align: center;
}
.equipment-list-container {
  position: relative;

  margin-bottom: 60px;

  text-align: center;
  &:after {
    position: absolute;
    top: 150px;
    right: 25px;

    @extend .dblock;
  }
  img {
    width: 205px;
    height: 205px;
    margin-bottom: 30px;

    border-radius: 50%;
  }
  h4 {
    font-size: 16px;

    margin-bottom: 25px;
    padding: 0 5px;
    a {
      color: $gray;
    }
  }
  &.equipment-list-container-1 {
    &:after {
      @include sprite($sprite-ico-acum);
    }
  }
  &.equipment-list-container-2 {
    h4 {
      padding: 0 10px;
    }
    &:after {
      @include sprite($sprite-ico-batter);
    }
  }
  &.equipment-list-container-3 {
    &:after {
      @include sprite($sprite-ico-gener);
    }
  }
  &.equipment-list-container-4 {
    h4 {
      padding: 0;
    }
    &:after {
      @include sprite($sprite-ico-note);
    }
  }
}

.services {
  padding: 60px 0 80px;

  background-color: #f9f9f9;
  background-image: url(../img/bg/services.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  .selection-equipment,
  .service-repair {
    position: relative;

    padding: 0 0 0 30px;
    h3 {
      font-family: $foslr;
      font-size: 30px;

      margin: 0 0 30px;
      a {
        color: #252525;
        border-bottom: 1px solid $red;
        &:hover {
          text-decoration: none;

          color: $red;
        }
      }
      &:before {
        font-family: $fosr;

        position: absolute;
        left: 10px;

        content: '-';

        color: $red;
      }
    }
    img {
      margin-bottom: 25px;
    }
    p {
      margin: 0;
    }
  }
}
.about-company {
  padding: 70px 0 100px;
  .about-company-content {
    padding: 0 0 0 30px;
    h2 {
      font-size: 30px;

      position: relative;

      margin: 0 0 30px;
      &:before {
        font-family: $fosr;

        position: absolute;
        top: 0;
        left: -20px;

        content: '-';

        color: $red;
      }
      .main {
        font-family: $foslr;

        display: inline-block;

        color: $gray;
      }
      .second {
        font-family: $fosli;
        font-size: 13px;

        display: inline-block;

        width: 270px;
        margin: 0 0 0 20px;
        padding: 0 0 0 20px;

        color: $red;
        border-left: 1px solid $base-border-color;
      }
    }
    p {
      font-size: 14px;

      margin: 0 0 30px;
      padding: 0 20px 0 0;
    }
    .read-more {
      font-family: $fosb;
      font-size: 14px;

      position: relative;

      color: $gray;
      border-bottom: 1px solid $red;
      &:hover {
        text-decoration: none;

        color: $red;
      }
      &:after {
        display: inline;

        content: ' →';
        text-decoration: none;
      }
    }
  }
  .about-company-img {
    padding: 64px 0 0;
    img {
      width: 100%;
    }
  }
}
.our-clients {
  padding-bottom: 70px;
  .our-clients-logo {
    height: 160px;

    border: 1px solid $base-border-color;

    @extend .align-center-parent;
    img {
      @extend .align-center;
    }
    &.our-clients-logo-1,
    &.our-clients-logo-2,
    &.our-clients-logo-3,
    &.our-clients-logo-4 {
      border-bottom: 0;
    }
    &.our-clients-logo-2,
    &.our-clients-logo-3,
    &.our-clients-logo-4,
    &.our-clients-logo-6,
    &.our-clients-logo-7,
    &.our-clients-logo-8 {
      border-left: 0;
    }
  }
}
.product-additional {
  float: right;

  width: 250px;
  margin: 0 0 20px 30px;
  img {
    width: 100%;
    margin: 0 0 20px;

    border: 1px solid $base-border-color;
  }
  p {
    font-size: 11px;

    margin: 0;

    color: $light-gray;
  }
}
.product-listing {
  background-color: #fff;
}
.product-listing-title {
  font-family: $foslr;
  font-size: 24px;

  margin: 0 0 30px;

  color: $light-gray;
}
.product-listing-container {
  display: block;

  width: 100%;
  margin: 0;
  margin: 0 0 25px;
  padding: 0;

  @extend .clearfix;
  .product-item {
    display: inline-block;
    float: left;

    width: 190px;
    margin: 0 0 25px;
    margin: 0 9px;

    text-decoration: none;
    span {
      display: block;
      overflow: hidden;

      width: 100%;
      height: 190px;
      margin: 0 0 20px;

      border: 1px solid $base-border-color;
      img {
        width: 100%;
      }
    }
    h2 {
      font-size: 16px;

      text-decoration: underline;

      color: $red;
    }
    &:hover {
      text-decoration: none;
      h2 {
        color: $gray;
      }
    }
    &:nth-child(1),
    &:nth-child(3n+4) {
      margin-right: 10px;
      margin-left: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
      margin-left: 11px;
    }
  }
}

.subcat-thumbs {
  margin: 0 0 40px;
  padding: 15% 0;

  text-align: center;

  border: 1px solid $base-border-color;
}
.block-select {
  margin: 0 0 45px;
  padding: 0 0 50px;

  border-bottom: 5px solid $base-border-color;
  h3 {
    font-family: $foslr;
    font-size: 28px;

    margin: 0 0 25px;

    text-align: center;
  }
}
.category-listing-container {
  display: block;

  margin: 0;
  padding: 0;

  @extend .clearfix;
  .category-item {
    display: inline-block;
    float: left;

    width: 300px;
    margin: 0 4px 40px;
    padding: 0;
    &:nth-child(2n+1) {
      margin-right: 5px;
      margin-left: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .category-item-image {
    position: relative;

    display: block;

    width: 100%;
    height: 200px;
    margin: 0 0 30px;

    border: 1px solid $base-border-color;
    img {
      max-width: 90%;

      @extend .align-center;
    }
  }
  h2 {
    font-family: $foslr;
    font-size: 24px;

    margin: 0 0 10px;

    text-align: center;

    color: $gray;
  }
  .category-listing-title {
    font-family: $fosr;

    margin: 0 0 30px;
    padding: 0 0 30px;

    text-align: center;

    @extend .red-line-with-half;
  }
  p {
    margin: 0 0 18px;
  }
  .manufacturer-prods {
    position: relative;

    display: block;

    margin: 0 0 10px;
    padding: 0 0 0 30px;

    text-decoration: underline;

    color: $red;
    &:before {
      position: absolute;
      top: 8px;
      left: 15px;

      @extend .dblock;
      @include sprite($sprite-dash);
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.select-equiper-block {
  margin: 0 0 50px;
  padding: 0 0 40px;

  border-bottom: 5px solid $base-border-color;
}




.widget {
  margin: 0 0 40px;
  h6 {
    font-family: $foslr;
    font-size: 18px;

    position: relative;

    margin: 0 0 20px;
    padding: 14px 0 0;
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      @extend .dblock;
      @include sprite($sprite-widget-before);
    }
  }
}



.widget-select-equio {
  height: 160px;
  padding: 105px 0 0;

  background-image: url(../img/bg/widget-select-equio.jpg);
  h4 {
    font-size: 16px;

    position: relative;

    padding: 10px;

    text-transform: uppercase;

    background-color: rgba(255, 255, 255, .85);
    a {
      color: $gray;
      border-bottom: 1px solid $red;
    }
    &:after {
      position: absolute;
      top: 10px;
      right: 10px;

      @extend .dblock;
      @include sprite($sprite-ico-square);
    }
    &:hover {
      a {
        text-decoration: none;
      }
    }
  }
}













.acf-map {
  width: 100%;
  height: 420px;
  margin: 0 0 50px;
}


.breadcrumbs {
  display: block;

  margin: 0 0 70px;
  padding: 17px 0;

  border-top: 5px solid $base-border-color;
  border-bottom: 5px solid $base-border-color;
  a {
    color: $light-gray;
  }
}
.pagination {
  width: 100%;
  height: 40px;
  margin-bottom: 50px;

  text-align: center;

  @extend .clearfix;
  span,
  a {
    font-family: $fosb;
    font-size: 13px;
    line-height: 3;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 0 3px;

    text-align: center;

    border: 1px solid $base-border-color;
  }
  span {
    color: #fff;
    border-color: $red;
    background-color: $red;
  }
  a {
    position: relative;
    &:hover {
      text-decoration: none;

      color: #fff;
      border-color: darken($red, 10%);
      background-color: darken($red, 10%);
    }
    &.next,
    &.prev {
      font-size: 0;

      margin: 0;
      &:after {
        font-size: 13px;

        @extend .dblock;
      }
    }
    &.next {
      float: right;
      &:after {
        content: '›';
      }
    }
    &.prev {
      float: left;
      &:after {
        content: '‹';
      }
    }
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;

  color: #fff;
  background-color: $blue;
  .inner {
    height: $footer;
    padding-top: 70px;
  }
  h5 {
    font-family: $fosb;
    font-size: 14px;
    line-height: 1;

    position: relative;

    margin-bottom: 70px;

    text-align: center;
    &:before,
    &:after {
      position: absolute;
      bottom: -15px;

      height: 2px;

      @extend .dblock;
    }
    &:before {
      left: 23.96%;

      width: 52.08%;

      background-color: $dark-gray;
    }
    &:after {
      left: 44.79%;

      width: 10.42%;

      background-color: $red;
    }
  }
  .contact-phone,
  .contact-adress,
  .contact-mail {
    position: relative;

    height: 170px;
    padding-top: 105px;

    text-align: center;
    &:before {
      position: absolute;
      top: 0;
      left: 38%;

      @extend .dblock;
    }
    h6 {
      font-family: $fossb;
      font-size: 16px;
    }
    a,
    p {
      text-decoration: none;

      color: $light-gray;
    }
    a {
      &:hover {
        border-bottom: 1px dotted $red;
      }
    }
  }
  .contact-phone {
    &:before {
      @include sprite($sprite-ico-b-phone);
    }
  }
  .contact-adress {
    &:before {
      @include sprite($sprite-ico-b-map);
    }
  }
  .contact-mail {
    &:before {
      @include sprite($sprite-ico-b-mail);
    }
  }
  .copy {
    font-size: 11px;

    padding-top: 50px;

    text-align: center;
    text-align: center;

    color: $dark-gray;
  }
}

@import 'import/print';
